*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #352f5b;
    color: #fff;
}
h1{
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
}
.task{
    border-bottom: 2px solid #fff;
    width: 70vw;
    margin: 30px auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
p {
    font-size:22px ;
}
.icon{
    font-size: 24px;
}
.icon:hover{
    font-size: 26px;
    transition: 0.2s;
    cursor: pointer;
}
.icon-star,.icon-trash{
    opacity: 0.4;
    font-size: 27px;
}
.icon-star:hover{
    color: orange;
    transition: 0.2s;
    opacity: 1;
    font-size: 29px;
}
.icon-trash{
    margin-right:10px ;    
}
.icon-heart {
    opacity: 0.4;
    font-size: 23px;
    color: rgb(240, 111, 111);
}
.icon-heart:hover{
    font-size: 25px;
    transition: 0.2s;
    opacity: 1;
}
.icon-trash:hover{
    color: rgb(189, 43, 43);
    transition: 0.2s;
    opacity: 1;
    font-size: 29px;
}
.icon-angry2{
    color: rgb(243, 196, 43);
    font-size: 24px;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 40px;
}
form{
    text-align: center;
}
input {
    padding: 10px 20px;
    border-radius: 6px;
    width: 35vw;
    font-size: 21px;
    text-align: center;
}
.icon-angle-double-up{
    font-size: 40px;
    margin-left: 17px;
    position: relative;
    top: 9px;
    cursor: pointer;
}
.icon-angle-double-up:hover{
    font-size: 43px;
    transition: 0.2s;
    color: aqua;
}
button {all :unset}



.dn {
    display: none;
}
.finche {
    text-decoration-line: line-through;
}
.res {
    text-decoration-line: none;
}
.orange {
    color: orange;
    opacity: 1;
}